Listen 8001
<VirtualHost *:8001>
	DocumentRoot /path/to/src

	<Directory /path/to/src>
		AllowOverride All 
		Require all granted
	</Directory>
  
	LogLevel info ssl:warn

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>