<div class="row checklist-item" *ng-for="#item of taskService.getTaskChecklist(task)" [ng-class]="getSelectedClass(item)">
	<div class="col-md-8 name">
		<input type="text" class="typl8-gamma form-control edit-item" *ng-if="selectedItem === item" [(ngModel)]="{{item.name}}"
		min-length="1">
		<span class="name typl8-gamma" *ng-if="selectedItem !== item" (click)="onCheck(item)">{{item.name}}</span>
	</div>
	<div class="col-md-4 actions">
		<span *ng-if="selectedItem === item">
			<button class="btn btn-default" (click)="onSaveItem(item)">Save</button>
        	<button class="btn btn-default" (click)="onCancelSaveItem(item)">Cancel</button>
		</span>
		<span *ng-if="selectedItem !== item">
            <button class="btn btn-default" (click)="onEditItem(item)">Edit</button>
            <button class="btn btn-default" (click)="onDeleteItem(item)">Delete</button>
		</span>
	</div>
</div>