<div class="checklist">
	<div class="row">
		<div class="col-md-12">
			<h4 class="title">Task Checklist</h4>
			<p>Add items to your checklist and check them off as you complete them.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="form-group new-entity">
					<input class="form-control" min-length="1" [(ng-model)]="newItem.name" (keyup.enter)="onAddChecklistItem(newItem, viewingTask)"
					placeholder="What needs to be done?">
				</div>
				<button class="btn btn-primary" (click)="onAddChecklistItem(newItem, viewingTask)">Add new item</button>
			</div>
		</div>
	</div>
	<div class="row checklist-item" *ng-for="#item of taskService.getTaskActiveChecklist(viewingTask)" [ng-class]="getSelectedClass(item)">
		<div class="col-md-8 name">
			<input type="text" class="form-control edit-item" *ng-if="selectedItem === item" [(ng-model)]="item.name" (keyup.enter)="onSaveItem(item)"
			min-length="1">
			<h5 class="name" *ng-if="selectedItem !== item" (click)="onCheck(item)" [ng-class]="getCheckedClass(item)">{{item.name}}</h5>
		</div>
		<div class="col-md-4 actions">
			<span *ng-if="selectedItem === item">
				<button class="btn btn-default" (click)="onSaveItem(item)">Save</button>
				<button class="btn btn-default" (click)="onCancelSaveItem(item)">Cancel</button>
			</span>
			<span *ng-if="selectedItem !== item">
				<button class="btn btn-default" (click)="onEditItem(item)">Edit</button>
				<button class="btn btn-default" (click)="onDeleteItem(item)">Delete</button>
			</span>
		</div>
	</div>
</div>